<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>INDEX</title>
<body>
<h1> Our First Go Html form</h1>
<form action="/process_details_post", method="POST"> 
<h2> Example for POST call</h2>
<label for="fer"> First Name</label>
<input type="text" name="firster" id="fer" placeholder="First Name">

<label for="fer"> Last Name</label>
<input type="text" name="laster" id="fer" placeholder="Last Name">
<input type="submit">
</form>
<br><br><br><br><br>
<form action="/process_details_get", method="GET"> 
<h2> Example for GET call</h2>
<label for="fer"> First Name</label>
<input type="text" name="firster" id="fer" placeholder="First Name">

<label for="fer"> Last Name</label>
<input type="text" name="laster" id="fer" placeholder="Last Name">
<input type="submit">
</body>
</html>
